.modal-dialog{style: "width:60%;"}
  / Modal content
  .modal-content
    .modal-header
      %h4
        %span.glyphicon.glyphicon-lock
        Create Group
    .modal-body{style: "max-height: 400px; overflow: auto;"}
      .padding-10
        #blogFormWrapper
          = form_for @group, html:{class: 'smart-form product-edit-form',id: 'new_group_form'} do |f|
            %fieldset
              .row
                %section
                  .col.col-md-12
                    .col.col-md-12
                      %label.label
                        Name
                      %label.input
                        = f.text_field :name, class: 'form-control', placeholder: 'Name'
                      .note-error
                        - if @group.errors.present? && @group.errors[:name].present?
                          = @group.errors[:name].join(' and ')
                  .col.col-md-12
                    .col.col-md-12
                      %label.label
                        Description
                      %label.input
                        = f.text_area :description, rows: '5', class: 'form-control', placeholder: 'Description'
                      - if @group.errors.present? && @group.errors[:description].present?
                        .note.note-error
                          = @group.errors[:description].join(' and ')
    .modal-footer
      %button.btn.btn-info{:id => "btn_associate_media_to_product", :type => "button", onclick: '$("#new_group_form").submit(); return true;'} Done
