#blogFormWrapper
  = form_for group, html:{class: 'smart-form product-edit-form',id: 'group_form'} do |f|
    %fieldset
      .row
        %section
          .col.col-md-12
            .col.col-md-12
              %label.label
                Name
              %label.input
                = f.text_field :name, class: 'form-control', placeholder: 'Name'
              .note-error
                - if group.errors.present? && group.errors[:name].present?
                  = group.errors[:name].join(' and ')
          .col.col-md-12
            .col.col-md-12
              %label.label
                Description
              %label.input
                = f.text_area :description, rows: '5', class: 'form-control', placeholder: 'Description'
              - if group.errors.present? && group.errors[:description].present?
                .note.note-error
                  = group.errors[:description].join(' and ')
    %footer
      .row
        .col.col-md-12.text-left
          .col.col-md-12
            = f.submit get_submit_btn_name(group), class: "btn btn-success"
            = link_to 'Back', :back, class: "btn btn-default", style: "background-color: rgba(255, 255, 255, 0.9);"
