#blogFormWrapper
  = form_for marketing, html:{class: 'smart-form product-edit-form',id: 'marketing_form'} do |f|
    %fieldset
      .row
        %section
          .col.col-md-12
            .col.col-md-12
              %label.label
                Title
              %label.input
                = f.text_field :title, class: 'form-control', placeholder: 'Title'
              .note-error
                - if marketing.errors.present? && marketing.errors[:title].present?
                  = marketing.errors[:title].join(' and ')
          .col.col-md-12
            .col.col-md-12
              %label.label
                Description
              %label.input
                = f.text_area :description, rows: '5', class: 'form-control', placeholder: 'Description'
              - if marketing.errors.present? && marketing.errors[:description].present?
                .note.note-error
                  = marketing.errors[:description].join(' and ')
          .col.col-md-12
            .col.col-md-6
              %label.label
                Amount
              %label.input
                = f.text_field :amount, class: 'form-control', placeholder: 'Amount'
              .note-error
                - if marketing.errors.present? && marketing.errors[:amount].present?
                  = marketing.errors[:amount].join(' and ')
            .col.col-md-6
              %label.label
                Where?
              %label.input
                = f.text_field :location, class: 'form-control', placeholder: 'Where ?'
              .note-error
                - if marketing.errors.present? && marketing.errors[:location].present?
                  = marketing.errors[:location].join(' and ')
          .col.col-md-12
            .col.col-md-6
              %label.label
                By whom ?
              %label.select
                = f.select(:user_id, users_for_select, :prompt => 'Select user')
              .note-error
                - if marketing.errors.present? && marketing.errors[:user_id].present?
                  = marketing.errors[:user_id].join(' and ')
            .col.col-md-6
              %label.label
                When ?
              %label.input
                = f.text_field :marketing_on, class: 'datepicker form-control', value:Date.today.strftime('%d/%m/%Y'), placeholder: 'Marketing date'
              .note-error
                - if marketing.errors.present? && marketing.errors[:marketing_on].present?
                  = marketing.errors[:marketing_on].join(' and ')
    %footer
      .row
        .col.col-md-12.text-left
          .col.col-md-12
            = f.submit get_submit_btn_name(marketing), class: "btn btn-success"
            = link_to 'Back', :back,class: "btn btn-default", style: "background-color: rgba(255, 255, 255, 0.9);"
